include VERSION LICENCE
include requirements.txt
include robosat_pink/templates/compare.html
include robosat_pink/templates/leaflet.html
include robosat_pink/templates/master.html
recursive-include data *
