numpy
pillow
albumentations>=0.2.2
opencv-python-headless
torch>=1.2.0
torchvision>=0.4.0
tqdm>=4.29.0
requests
geojson
mercantile>=1.0.4
osmium>=2.15.0
rasterio>=1.0.26
supermercado>=0.0.5
shapely>=1.6.4
pyproj>=1.9.6
toml
webcolors
psycopg2-binary
flask >=1.0
flask>=1.0
flask-sqlalchemy>=2.3.2
flask-wtf>=0.14.2
cymysql>=0.9.1
flask-cors>=2.1.0
flask-httpauth>=2.7.0
requests>=2.18.4
# psycopg2>=2.8.3
wtforms>=2.2.1
rtree
# libspatialindex