numpy
pillow
opencv-python-headless
torchvision>=0.2.2
tqdm>=4.29.0
requests
geojson
mercantile>=1.0.4
osmium>=2.15.0
rasterio>=1.0.0
supermercado>=0.0.5
shapely>=1.6.4
pyproj>=1.9.6
toml
webcolors
psycopg2-binary
